<h1>Create a new Landmark</h1>

	<h2>Landmarks</h2>
	<ul>
		<li>Madison Square Garden <input type="checkbox" name="landmarks[titles][]" /></li>
		<li>The big bull outside <input type="checkbox" name="landmarks[titles][]" /></li>
		<li>Flatiron School <input type="checkbox" name="landmarks[titles][]" /></li>
		<li>Museum Mile <input type="checkbox" name="landmarks[titles][]" /></li>
		<li>Subway Station <input type="checkbox" name="landmarks[titles][]" /></li>
		<li>Cast Iron <input type="checkbox" name="landmarks[titles][]" /></li>
		<li>Shea Stadium <input type="checkbox" name="landmarks[titles][]" /></li>
		<li>Flatiron Building <input type="checkbox" name="landmarks[titles][]" /></li>
		<li>Brooklyn Bridge <input type="checkbox" name="landmarks[titles][]" /></li>
	</ul>

	<h2>Create New Landmark: </h2>
	<h3>Name: <input type="text" name="landmarks[titles][]" />
	 Year: <input type="integer" name="landmarks[year][]" />
	<button>Create New Figure</button></h3>
